[submodule "src/Presentation/Nop.Web/Themes/MagiaRoja"]
	path = src/Presentation/Nop.Web/Themes/MagiaRoja
	url = https://github.com/Pdigital-ar/Nop.Theme.MagiaRoja.git
[submodule "src/Presentation/Nop.Web/Themes/Bohemia"]
	path = src/Presentation/Nop.Web/Themes/Bohemia
	url = https://github.com/Pdigital-ar/Nop.Theme.Bohemia.git
[submodule "src/Presentation/Nop.Web/Themes/PdBohemia"]
	path = src/Presentation/Nop.Web/Themes/PdBohemia
	url = https://github.com/Pdigital-ar/Nop.Theme.PdBohemia.git
[submodule "src/Presentation/TryFlow"]
	path = src/Presentation/TryFlow
	url = https://github.com/Pdigital-ar/Nop.TryFlow.git
[submodule "src/Plugins/Nop.Plugin.Payments.PdMePago"]
	path = src/Plugins/Nop.Plugin.Payments.PdMePago
	url = https://github.com/Pdigital-ar/Nop.Plugin.Payments.PdMePago.git
